.card-item {
    width: 30%;
    border-radius: 8px;
    background-color: #FFFAFA;
    margin: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    

    .card-image {
        display: flex;
        width: 100%;
        height: 250px;
      
        position: relative;

        .image-strain {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .icon-heart {
            position: absolute;
            top: 15px;
            left: 15px;
            font-size: 30px;
            color: #97BE5A
        }
    }

    .card-text {
        padding: 3% 8%;

        .name {
            color: #00A551;
        }
        .number {
            margin-top: -20px;
            font-weight: 500;
        }
        .price {
            margin-top: -5px;  
            font-size: 18px;
            font-weight: 500;
            font-style: italic;
            color: #00A551;
        }
        .des {
            margin-top: -5px;  
            font-size: 14px;
            font-weight: 500;
          
        }
        .status {
            margin-top: -5px;  
            font-size: 14px;
            font-weight: 500;
        }
        .btn-buy {
            display: flex;  
            justify-content: center;
            width: 100%;
            align-items: center;
            border-radius: 90px;
            background: none;
            border: 2px solid #00A551;
            color: #00A551;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 20px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
        }

        .btn-buy:hover {
            background-color: #00A551;
            border: none;
            color: white;
            transition: 0.3s ease-in-out;
        }
    }

}

.card-item:hover {
    scale: 1.02;
    transition: 0.3s;
}