.AllStrain {
    display: flex;
    flex-direction: column;

    .row-2-as {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 20px;
        margin: 20px 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;

        .text-header-as {
            font-weight: 700;
        }

        .search-box-as {
            display: flex;
            width: 15%;
            justify-content: space-between;
            border-radius: 70px;
            align-items: center;
            padding: 2px 20px;
            padding-right: 15px;
            background: rgba(6, 3, 5, 0.67);
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

            .input-search {
                color: white;
                background: none;
                border-radius: 70px;
                outline: none;
                border: none;
                width: 100%;
                font-size: 14px;
                height: 30px;
                padding-left: 5px;
                padding-right: 10px;

                &::placeholder {
                    color: gray;
                    font-size: 14px;
                }
            }

            .icon-search {
                color: white;
                font-size: 25px;
            }
        }

        .wrap-all-item-as {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            margin-top: 20px;

        }
    }
}