.container {
    display: flex;
    flex-direction: column;
    /* background-color: antiquewhite; */
}

.login-background {
    background: url('../../assets/images/bg-mushroom.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}