.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.species-background {
    background: url('https://wallpaper.forfun.com/fetch/52/5242f0ad13f69e78c5cc49211d2a6832.jpeg?w=1470&r=0.5625') no-repeat; 
    background-size: cover;
    background-position: center;
}