.container {
    display: flex;
    flex-direction: column;
    /* background-color: antiquewhite; */
}

.species-background {
    /* background: url('../../assets/images/bg-mushroom.jpg') no-repeat; */
    /* ghibli đẹp vl */
    /* background: url('https://w.forfun.com/fetch/bd/bd86eeadaa4bdbac4fb86200aa8a4f8f.jpeg') no-repeat;  */
    background: url('https://wallpaper.forfun.com/fetch/52/5242f0ad13f69e78c5cc49211d2a6832.jpeg?w=1470&r=0.5625') no-repeat; 
    background-size: cover;
    background-position: center;
}