.tree-node {
    margin-left: -20px;

    list-style: none;
    // background-color: #76453B;
   

    .tree-node-label {
        display: flex;
        align-items: center;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // background-color: #BFF6C3;
        border-radius: 10px;
        font-size: 14px;
        margin: 3px;
        padding-left: 45px;

        .icon {
            display: flex;
            align-self: center;
            margin-right: 20px;
            font-size: 18px;
        }

        .wrap-node {
            display: flex;
            align-items: center;
            margin-right: 5px;
            cursor: pointer;

            .icon-node {
                margin-right: 5px;
            }

            p {}
        }
    }

    .tree-node-label:hover {
        color: #0A6847
    }

    .open {
        // color: #76453B;
        color: #0A6847;
        text-decoration: underline;
        text-underline-offset: 5px;
    }

    .tree-node-children {
        display: flex;
        flex-direction: column;
    }
}