.Home {
    display: flex;
    flex-wrap: wrap;
    color: black;
    padding: 50px 200px;
}

.Home p {
    font-size: 20px;
}

.Home button {
    display: flex;
    border-radius: 30px;
    width: 400px;
    border: 1.5px solid #00A551;
    justify-content: center;
    padding: 25px 20px;
    font-size: 22px;
    color: #00A551;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
}

.Home button:hover {
    background-color: #00A551;
    color:white;
    transition: 0.5s;
}

.Home img {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.Home h1 {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
}