.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 3%;
    /* background: transparent; */
    background: #00A551;
    transition: 0.5s;
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    cursor: pointer;
}

ul {
    display: flex;
    flex: 7;
    list-style: none;
    justify-content: center;
}

ul li {
    margin: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.search-box {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: space-between;
    background: whitesmoke;
    padding: 5px 15px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.search-box input {
    padding: 6px;
    background: transparent;
    outline: 0;
    border: 0;
    font-size: 16px;
}

.search-box input::placeholder {
    color: #00A551;
    font-size: 16px;

}

.search-box img {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.dark .navbar {
    background-color: #000;
    color: #fff
}

.dark .Link {
    color: white;
}

.dark .search-box {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.dark .search-box input {
    color: #000
}

.dark .search-box input::placeholder {
    color: #000
}

.Navbar .btn-login {
    background: none;
    border-radius: 15px;
    padding: 5px 30px;
    border: 1px solid #fff;
    transition: 0.5s;
}

.Navbar .btn-login:hover {
    border: 1px solid black;
    padding: 5px 50px;
    color: black;
    transition: 0.5s;
}

.Navbar .btn-login:hover .Link {
    color: black; /* Thay đổi màu của Link bên trong btn-login */
    transition: 0.5s;
    border: none;
}

.Link {
    color: #fff;
    font-size: 16px;
    transition: 0.5s;
}


.Link:hover {
    color: black;
    transition: 0.5s;
    border-bottom: 2px solid RGBA( 144, 238, 144, 1 );
    border-top: 2px solid rgba( 144, 238, 144, 1 );
}

.img-cart {
    width: 40px;
    height: auto;
    cursor: pointer;
    margin-left: 20px;
}

/* Mobile: width <740px */
@media only screen and (min-width: 46.1875em){
    
}

/* tablet width >= 740px và < 1024px */
@media only screen and (min-width: 46.25em) and (max-width:63.9375em){
    
}